.App {
  text-align: center;
  box-sizing: border-box;
  padding-left: 20%;
  padding-right: 20%; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  text-align: center;
}

.container-fluid {
  background-color: rgb(50,100,250);
  border-style: solid;
  border-width: 2%;
  border-color: azure;
}

.content {
  border-style: solid;
  border-width: 2%;
  border-color: azure;
  color: azure;
  background-color: rgb(50,100,250);  
}

li {
  display: inline;  
  padding: 1%;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(20,50,255);
  border-style: solid;
  border-width: 2%;
  border-color: azure;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  overflow: hidden;
  background-color: rgb(50,100,250);  
}

button {
  background-color:rgb(20, 50, 255);
  border:1px solid azure;
  display:inline-block;
  cursor:pointer;
  color:azure;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#buildingName, #apartmentNo, #agency, #landlord, #tenant, #leaseStart, #leaseEnd, #breakClause, #agencyPhoneNo, #noRooms, #rent, #notes, #address, #deposit, #leaseStartBox, #leaseEndBox, #breakClauseBox {
  background-color: grey;
  color: azure;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

::placeholder {
  color: azure;
  opacity: 2;
}

:-ms-input-placeholder {
  color: azure;
}

::-ms-input-placeholder {
  color: azure;
}